
.main-page {
  display: flex;
  height: 100%;
  box-sizing: border-box;
}

.left{
  flex: 1;
  background-color: red;
  height: 100%;
}
.right-login{
  width: 460px;
  background-color: #48CFCB;
  color: black;
  padding: 12px;
  height: 100%;
  
}
.bg-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.title-login{
  font-size: 32px;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  color: white;
}
