.label{
  font-size: 12px;
  font-weight: 700;
  margin: 0px;
  padding: 4px;
  color: #F5EDED;
}
.input{
  border: 1px solid grey;
  padding: 12px;
  border-radius: 8px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}