.button{
  padding: 12px;
  font-size: 12px;
  font-weight: 700;
  background-color: #6439FF;
  width: 100%;
  box-sizing: border-box;
  border-radius: 12px;
  color: white;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
}