.footer{
  background-color: #4F75FF;
  color: #C4DAD2;
  padding: 12px;
}

.footer-content{
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  padding: 0 18px 0 18px;
  align-items: center;
  font-weight: 500;
}
.footer-links{
  display: flex;
  gap: 8px;
}
.footer-content ul li {
  list-style-type:none ;
  font-weight: 500;
  color: #C4DAD2;
}
.footer-content ul li a {
  text-decoration: none;
  color: #C4DAD2;
}