.header{
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  padding: 0 18px 0 18px;
  align-items: center;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);


  .logo{
    color: #4F75FF;
    font-size: 52px;
    padding: 0;
    margin: 0;
    font-family: "Jersey 10", sans-serif;
  font-weight: 500;
  font-style: normal;
  }

  .menu-item{
    cursor: pointer;
    font-weight: 500;
    text-decoration: underline;
  }
}